.App {
  text-align: center;
  align-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.buttonContainer{
  position: absolute;
  top:70%;
  left:50%;
  transform: translate(-50%,-50%);
  display: inline-flexbox;
  width: 100%;
}
.startBtn{
  color: white;
  background-color: black;
  height: 100px;
  width: 215px;
  border: white solid;
  border-radius: 15px;
  font-size: x-large;
  text-shadow: .75px .5px 14px aliceblue ;
  box-shadow: 5px 5px 24px;
  position: relative;
  font-weight:bold;
  transition: ease .55s;
  margin: 5px;
}
.startBtn:hover{
  background-color: rgba(0, 0, 0, 0.541);
  text-shadow: .75px .5px 14px rgb(197, 205, 211) ;
  transition: ease .55s;
}

.restartBtn{
  background-color: rgba(0, 221, 255, 0.541);
    position: relative;
    top:0%;
    left:0%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.restartBtn:hover{
  background-color: rgba(130, 228, 245, 0.541);
  text-shadow: .75px .5px 14px rgb(197, 205, 211) ;
  transition: ease .55s;
}