.Start {
  background-color: grey;
}
div#container {
  height: auto !important; /* real browsers */
  min-height: 100%; /* real browsers */
}
.headline {
  font-size: 10rem;
  color: rgba(255, 255, 255);
  text-shadow: 0.5px 0.5px 99px rgba(240, 248, 255);
}
.card {
  background-color: rgba(0, 0, 0, 0.44);
  width: 900px;
  height: 60%;
  min-height: 600px;
  max-height: 620px;
  position: relative;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -30%);
}
.cardText {
  color: white;
  padding: 25px;
  margin: 15px;
}
