.tile{
    width: 140px;
    height: 140px;
    line-height: 140px;
    background-color:rgb(95, 96, 160);
    text-align: center;
    border: black 3px solid;
    
}
.tile:hover{
    background-color:rgb(95, 145, 160);    
    transition: .4s;
}
.pointText{
    font-size: 30px;
    font-weight: bold;
}

